body{
   
}

.contextbox{
    position: fixed;
    width: 100%;
    background: url(../img/over.jpeg) no-repeat;
     background-size: 100% 100%;
     height: 100vh;
     overflow: hidden;
}
.boxmonry{
    margin-top: 220px;
    text-align: center;
    color: #fff;
    font-size: 25px;
}
#money{
    color: rgb(23, 26, 23) !important;
    font-size: 30px;
}

.againPlay{
    width: 100px;
    height: 50px;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    line-height: 50px;
    margin-top: 80px;
  }