
/*首页2*/
.whole{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: url(../img/overbj.png) no-repeat;
  background-size: 100% 100%;
  z-index: 2;

}
.whole .imges img{
  width: 80%;
  height: 100%;
  display: block;
  margin: 0 auto;
  padding-top: 30px;

}

.game-regular{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: url(../img/overbj.png) no-repeat;
  background-size: 100% 100%;
  z-index: 1;
}
.dc_tit1{ 
  width:83%; 
  height:300px; 
  margin: 0 auto;
 background: url(../img/组\ 285.png)no-repeat;
 background-size: 100% 100%;
  position:relative;
  top: 10%;
  left: 0;
  right: 0;
  z-index: 1;
  font-size: 16px;
}
.goBack{
  position: absolute;
  left: 0;
  right: 0;
  top: 60%;
  width: 200px;
  height: 50px;
  background-color: #5D318E;
  margin: 0 auto;
  line-height: 50px;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  border-radius: 10px;
}
.dc_tit1-item{
  width: 82%;
  margin: 0 auto;
  padding-top: 20px;

}
.dc_tit1-item h1{
  text-align: center;
  color: #5D318E;
  font-size: 22px;

}
.strategy{
  margin-top: 20px;
  text-align: center;
}
.strategy .earn{
  font-size: 18px;
  color: #5D318E;
}
.strategy .wire{
  width: 60px;
  height: 2px;
  background: #5D318E;
  margin: 0 auto;
}
.btn{ 
  position: absolute;
  top: 100;
  right: 0;
  left: 0;
  bottom: 200px;
 /* margin-top: 40px; */

}
.btn img{
  width: 230px;
  display: block;
  margin:  0 auto;
}
.cfm_btn{ width:70%; height:12vw; position:absolute;top: 60vw;left: 15vw;}



.regular{
  width: 180px;
  height: 50px;
  background-color: #ffb600;
  font-size: 18px;
  margin: 0 auto;
  color: #ffffff;
  text-align: center;
  margin-top: 50px;
  line-height: 50px;
  border-radius: 10px;
}

.earn{
  width: 180px;
  height: 50px;
  background-color: #ffb600;
  font-size: 18px;
  margin: 0 auto;
  color: #ffffff;
  text-align: center;
  line-height: 50px;
  margin-top: 40px;
  border-radius: 10px;
}

.gameStrategy{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: url(../img/overbj.png) no-repeat;
  background-position: center;
  background-size: 100% 100%;
  z-index: 1;
}

.dc_tit2{
    width: 83%;
    height: 150px;
    margin: 0 auto;
    background: url(../img/组\ 285.png)no-repeat;
    background-size: 100% 100%;
    position: relative;
    top: 30%;
    left: 0;
    right: 0;
    z-index: 1;
    font-size: 16px;
}
.dc_tit2-item{
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
}
